<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>4K Televison Rating</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container mt-5">
      <div class="form-group">
        <select id="product-select" class="form-control custom-select">
          <option value="0" disabled selected> Select Option</option>
          <option value="sony">Sony 4K TV</option>
          <option value="samsung">Samsung 4K TV</option>
          <option value="vizio">Vizio 4K TV</option>
          <option value="panasonic">Panasonic 4K TV</option>
          <option value="phillips">Phillips 4K TV</option>
        </select>
      </div>
      <div class="form-group">
        <input
          type="number"
          id="rating-control"
          class="form-control"
          placeholder="Rate 1 - 5"
          step="0.1"
          max="5 disabled"
        />
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>4k Televison</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr class="sony">
            <td>Sony 4k TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"> </span>
            </td>
          </tr>
          <tr class="samsung">
            <td>Samsung 4k TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"> </span>
            </td>
          </tr>
          <tr class="vizio">
            <td>Vizio 4k TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"> </span>
            </td>
          </tr>
          <tr class="panasonic">
            <td>Panasonic 4k TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"> </span>
            </td>
          </tr>
          <tr class="phillips">
            <td>Phillips 4k TV</td>
            <td>
              <div class="stars-outer">
                <div class="stars-inner"></div>
              </div>
              <span class="number-rating"> </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
